{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * pdf creator plugin for Craft CMS
 *
 * PdfCreatorUtility Utility Content
 *
 * @author    Dragan Nikolic
 * @copyright Copyright (c) 2021 Dragan Nikolic
 * @link      https://zeix.com/team/dragan-nikolic/
 * @package   PdfCreator
 * @since     1.0.0
 */
#}

<h1>PdfCreatorUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@zeixag/pdfcreator/assetbundles/pdfcreatorutilityutility/dist', true) ~ '/img/PdfCreatorUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>